{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="{% static 'images/faces/face8.jpg' %}" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="designation">{{ user }}</p>
                </div>
            </a>
        </li>
        
        <li class="nav-item nav-category">
            <span class="nav-link">Dashboard</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ville' %}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'affichage' %}">
                <span class="menu-title">Liste Des Chanbres </span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'detail' %}">
                <span class="menu-title">Liste Des Chanbres </span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li> {% endcomment %}

        <li class="nav-item nav-category">
            <span class="nav-link">UI Elements</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Basic UI Elements</span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'buttons' %}">Buttons</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'typography' %}">Typography</a></li> {% endcomment %}
                </ul>
            </div>
        </li>

        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'icons' %}">
                <span class="menu-title">Icons</span>
                <i class="icon-globe menu-icon"></i>
            </a> {% endcomment %}
        </li>

        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'forms' %}">
                <span class="menu-title">Form Elements</span>
                <i class="icon-book-open menu-icon"></i>
            </a> {% endcomment %}
        </li>

        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'charts' %}">
                <span class="menu-title">Charts</span>
                <i class="icon-chart menu-icon"></i>
            </a> {% endcomment %}
        </li>

        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'tables' %}">
                <span class="menu-title">Tables</span>
                <i class="icon-grid menu-icon"></i>
            </a> {% endcomment %}
        </li>

        <li class="nav-item nav-category">
            <span class="nav-link">Sample Pages</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">General Pages</span>
                <i class="icon-doc menu-icon"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'register' %}"> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'error_404' %}"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'error_500' %}"> 500 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'account_logout' %}">Se déconnecter</a></li> {% endcomment %}
                </ul>
            </div>
        </li>
    </ul>
</nav>
